body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.todo-list-todo-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.todo-list-todo-title {
    flex: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.todo-list-todo-btn-group {
    flex: none;
}